.plan {
  display: flex;
  flex-direction: column;
  padding-top: var(--space-6);
}

.category {
  display: block;
  font-size: var(--text-md);
  font-weight: var(--weight-medium);
}

.beneath {
  display: block;
  font-size: var(--text-xs);
  color: var(--color-text-secondary);
}
